body {
    color: white;
    background-color: black;
section}
    background-color: rgb(59, 0, 59) (56,1,56);

      padding-top: 80px;
      padding-bottom: 80px;
    display: flex;
justify-content: center;
div{margin-right: 20px;}

}